.header-section{
    /* border: 1px solid black; */
}
.header-section{
    width: 100%;
}
.header-section-table{
    /* border: 2px solid red; */
    width: 100%;
}
.cb-logo,
.header-section-heading,
.enquiry-info{
    width: 30%;
    /* border: 1px solid rebeccapurple; */
}
.cb-logo-img{
    background-image: url('./images/cblogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    height: 100px;
}

.application-text,
.enquiry-text{
    width: 60%;
    margin: auto;
    font-size: 20px;
}

.application-text{
    text-decoration: underline;
}